.footer {
  background-color: #0e1218;
}

.nav__link--mg {
  color: rgba(255, 255, 255, 0.55);
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.nav__link--mg:hover {
  color: #ffffff;
}
